In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(r"C:\Users\kevin\Documents\myrepo\World_Weather_Analysis\Weather_data\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Snowfall,Rainfall
0,0,Yellowknife,CA,2020-07-15 22:57:24,62.46,-114.35,64.40,63,75,14.99,broken clouds,0,0.0
1,1,Mpika,ZM,2020-07-15 22:57:24,-11.83,31.45,53.19,45,0,14.67,clear sky,0,0.0
2,2,Marawi,PH,2020-07-15 22:57:24,8.00,124.29,73.99,92,100,4.00,overcast clouds,0,0.0
3,3,Bluff,NZ,2020-07-15 22:57:24,-46.60,168.33,39.00,83,44,3.00,scattered clouds,0,0.0
4,4,Rajapur,IN,2020-07-15 22:57:25,25.38,81.15,87.19,65,11,6.96,few clouds,0,0.0

In [3]:
#get the data types.
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Snowfall                 int64
Rainfall               float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_pref = str(input("Would you like it to be raining? (yes/no) "))
snow_pref = str(input("What you like it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 70
Would you like it to be raining? (yes/no) no
What you like it to be snowing? (yes/no) no

In [11]:
#Filter the dataset to find the cities that fit the criteria.
if rain_pref == "no" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] > 0)]
if rain_pref == "no" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] > 0)]
preferred_cities_df.count()

City_ID                184
City                   184
Country                182
Date                   184
Lat                    184
Lng                    184
Max Temp               184
Humidity               184
Cloudiness             184
Wind Speed             184
Current Description    184
Snowfall               184
Rainfall               184
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

           City Country  Max Temp    Lat     Lng Hotel Name
0   Yellowknife      CA     64.40  62.46 -114.35
1         Mpika      ZM     53.19 -11.83   31.45
16         Wick      GB     53.60  58.43   -3.08
23     Klaksvik      FO     50.00  62.23   -6.59
25  East London      ZA     54.75 -33.02   27.91

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Yellowknife,CA,64.40,62.46,-114.35,The Explorer Hotel
1,Mpika,ZM,53.19,-11.83,31.45,Melodies Lodge
16,Wick,GB,53.60,58.43,-3.08,Mackays Hotel
23,Klaksvik,FO,50.00,62.23,-6.59,Airbnb rooms
25,East London,ZA,54.75,-33.02,27.91,Tu Casa
27,Nouadhibou,MR,69.80,20.93,-17.03,El Medina
30,Zhigansk,RU,67.26,66.77,123.37,Gostinichnyy Kompleks Aylgy
31,Nikolskoye,RU,60.80,59.70,30.79,Tourist House - Sablino
39,Talaya,RU,55.27,61.38,152.75,
43,Horki,BY,51.91,54.29,30.98,Gudov. Obshchezhitiye 11
44,Saint-Philippe,RE,68.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
45,Grindavik,IS,51.80,63.84,-22.43,Northern Light Inn & Max's Restaurant
46,Vostok,RU,68.20,46.49,135.88,
48,Husavik,IS,51.80,66.04,-17.34,Bjarnabúð
50,Ulaanbaatar,MN,59.00,47.91,106.88,The Blue Sky Hotel and Tower
52,Port Hardy,CA,64.40,50.70,-127.42,Airport Inn
54,Khatanga,RU,56.48,71.97,102.50,"Gostinitsa ""Zapolyar'ye"""
57,Skibbereen,IE,57.20,51.55,-9.27,The West Cork Hotel
58,Lebu,CL,51.69,-37.62,-73.65,Hostal Las Lilas
59,Tilichiki,RU,52.07,60.47,166.10,
61,Severo-Kurilsk,RU,52.54,50.68,156.12,Kak Doma
64,Bambous Virieux,MU,66.20,-20.34,57.76,Casa Tia Villa
68,Saint-Augustin,CA,57.38,51.23,-58.65,
70,Lagoa,PT,68.79,39.05,-27.98,Casa Das Faias
73,Sydney Mines,CA,54.00,46.24,-60.22,At The Harbourfront B&B Inc
75,Moron,AR,52.00,-34.65,-58.62,Hotel Morón
78,Marshfield,US,66.00,44.67,-90.17,Holiday Inn Conference Ctr Marshfield
87,Richards Bay,ZA,58.41,-28.78,32.04,BON Hotel Waterfront Richards Bay
88,Saskylakh,RU,64.08,71.92,114.08,
90,Beidao,CN,66.49,34.57,105.89,Shell Tianshui Maiji District Erma Road Walkin...
92,Narsaq,GL,57.20,60.92,-46.05,Hotel Narsaq
93,Ponta Do Sol,PT,69.80,32.67,-17.10,Hotel do Campo
100,Camacha,PT,69.80,33.08,-16.33,Hotel Porto Santo & Spa
102,Castro,BR,52.45,-24.79,-50.01,CHACARA BAILLY
108,Geraldton,AU,57.20,-28.77,114.60,Broadwater Mariner Resort
110,Sept-Iles,CA,66.20,50.20,-66.38,Comfort Inn
112,Aykhal,RU,64.40,66.00,111.50,
115,Port Alfred,ZA,53.20,-33.59,26.89,The Halyards Hotel
117,Nakambala,ZM,54.16,-15.83,27.78,Staff Area
118,Kamwenge,UG,64.53,0.19,30.45,Mariana Tourist Hotel
119,Kodiak,US,69.80,57.79,-152.41,Best Western Kodiak Inn and Convention Center
122,Leh,IN,58.66,34.17,77.58,Hotel Ladakh Greens
127,Oksfjord,NO,59.00,70.24,22.35,Bobo
128,Ostersund,SE,55.40,63.18,14.64,Best Western Hotel Gamla Teatern
129,Carnarvon,AU,64.40,-24.87,113.63,Hospitality Carnarvon
130,Coihueco,CL,57.20,-36.62,-71.83,Frutillares Coihueco
135,Boksitogorsk,RU,53.83,59.47,33.85,Теплый Стан
138,Mehamn,NO,54.34,71.04,27.85,Mehamn Arctic Hotel AS
140,Sitka,US,60.80,57.05,-135.33,Westmark Sitka
142,Arraial Do Cabo,BR,68.00,-22.97,-42.03,Pousada Porto Praia

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
hotel_df.to_csv('WeatherPy_vacation.csv')

In [ ]:
hotel_df.head()