In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(r"C:\Users\kevin\Documents\myrepo\World_Weather_Analysis\Resources\WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Snowfall,Rainfall
0,0,Arraial Do Cabo,BR,2020-07-12 22:31:43,-22.97,-42.03,77.00,61,62,5.82,broken clouds,0,0.00
1,1,Saldanha,ZA,2020-07-12 22:31:43,-33.01,17.94,57.20,82,58,25.28,moderate rain,0,1.65
2,2,Te Anau,NZ,2020-07-12 22:28:57,-45.42,167.72,35.80,85,5,1.43,clear sky,0,0.00
3,3,Jamestown,US,2020-07-12 22:28:41,42.10,-79.24,73.99,73,1,10.29,clear sky,0,0.00
4,4,Upernavik,GL,2020-07-12 22:29:04,72.79,-56.15,41.86,84,97,9.89,overcast clouds,0,0.00

In [3]:
#get the data types.
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Snowfall                 int64
Rainfall               float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_pref = str(input("Would you like it to be raining? (yes/no) "))
snow_pref = str(input("What you like it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 90
Would you like it to be raining? (yes/no) no
What you like it to be snowing? (yes/no) no

In [11]:
#Filter the dataset to find the cities that fit the criteria.
if rain_pref == "no" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] > 0)]
if rain_pref == "no" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] > 0)]
preferred_cities_df.count()

City_ID                466
City                   466
Country                462
Date                   466
Lat                    466
Lng                    466
Max Temp               466
Humidity               466
Cloudiness             466
Wind Speed             466
Current Description    466
Snowfall               466
Rainfall               466
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

              City Country  Max Temp    Lat     Lng Hotel Name
0  Arraial Do Cabo      BR     77.00 -22.97  -42.03
2          Te Anau      NZ     35.80 -45.42  167.72
3        Jamestown      US     73.99  42.10  -79.24
4        Upernavik      GL     41.86  72.79  -56.15
7     Longyearbyen      SJ     46.40  78.22   15.64

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,77.00,-22.97,-42.03,Pousada Porto Praia
2,Te Anau,NZ,35.80,-45.42,167.72,Kingsgate Hotel Te Anau
3,Jamestown,US,73.99,42.10,-79.24,Hampton Inn & Suites Jamestown
4,Upernavik,GL,41.86,72.79,-56.15,Gina's Guesthouse - Upernavik
7,Longyearbyen,SJ,46.40,78.22,15.64,"Radisson Blu Polar Hotel, Spitsbergen"
8,Rikitea,PF,71.15,-23.12,-134.97,Pension Maro'i
9,Hobart,AU,39.20,-42.88,147.33,St Ives Apartments
10,Naron,ES,66.99,43.52,-8.15,Marcial
11,Kapaa,US,82.40,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
12,Kayerkan,RU,53.60,69.35,87.76,
13,Albany,US,86.00,42.60,-73.97,
14,Bongor,TD,76.46,10.28,15.37,Complexe le Confort
15,Ushuaia,AR,35.60,-54.80,-68.30,Albatros Hotel
16,Port Alfred,ZA,58.14,-33.59,26.89,The Halyards Hotel
17,Vila Franca Do Campo,PT,68.00,37.72,-25.43,Pestana Bahia Praia
18,Port Elizabeth,ZA,44.60,-33.92,25.57,39 On Nile Guest House
19,Bluff,NZ,39.00,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
21,Bethel,US,87.01,41.37,-73.41,Courtyard by Marriott Danbury
22,Rio Grande,BR,44.01,-32.03,-52.10,Swan Express Rio Grande
23,Yellowknife,CA,69.01,62.46,-114.35,The Explorer Hotel
24,Punta Arenas,CL,35.60,-53.15,-70.92,Hotel Dreams Del Estrecho
25,Ales,FR,71.01,44.13,4.08,ibis Alès Centre-Ville
26,Byron Bay,AU,57.00,-28.65,153.62,Backpackers Inn on the Beach
27,Mporokoso,ZM,62.26,-9.37,30.12,Fairview Home Lodge
28,Esperance,AU,48.20,-33.87,121.90,Hospitality Esperance
29,Faanui,PF,79.21,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
30,Torbay,CA,61.00,47.67,-52.73,Gallows Cove
31,Dikson,RU,41.50,73.51,80.55,
32,Lompoc,US,77.00,34.64,-120.46,Holiday Inn Express Lompoc
33,Marsa Matruh,EG,75.20,31.35,27.25,Beau Site
34,Atuona,PF,80.29,-9.80,-139.03,Villa Enata
35,North Bend,US,68.00,43.41,-124.22,Red Lion Hotel Coos Bay
36,Hualmay,PE,62.46,-11.10,-77.61,Hotel Restaurant Turístico Casablanca
38,Shatrovo,RU,61.20,56.52,64.63,
39,Husavik,IS,53.60,66.04,-17.34,Bjarnabúð
40,Butaritari,KI,83.61,3.07,172.79,Isles Sunset Lodge
42,Ixtapa,MX,86.00,20.70,-105.20,Container Inn Puerto Vallarta
43,Airai,TL,59.13,-8.93,125.41,Juvinal Martin
45,Razdolinsk,RU,57.79,58.42,94.67,"""U Nikolaicha"""
46,Tuktoyaktuk,CA,57.20,69.45,-133.04,End of The Road Ltd.
47,Nikolskoye,RU,53.60,59.70,30.79,Tourist House - Sablino
48,Tasiilaq,GL,39.20,65.61,-37.64,The Red House
49,New Norfolk,AU,37.00,-42.78,147.06,The Shingles Riverside Cottages
50,Pevek,RU,48.72,69.70,170.31,Severnoye Zoloto
52,Labuhan,ID,74.80,-6.88,112.21,bador sepret
53,Palmer,US,87.80,42.16,-72.33,Wedgewood Motel
54,Hithadhoo,MV,84.97,-0.60,73.08,Scoop Guest House
55,Barrow,US,37.40,71.29,-156.79,King Eider Inn
56,Paamiut,GL,44.37,61.99,-49.67,Yeet Hotel
57,Trincomalee,LK,80.80,8.57,81.23,Welcombe Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
hotel_df.to_csv('WeatherPy_vacation.csv')

In [ ]:
hotel_df.head()