In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Snowfall,Rainfall
0,0,Arraial Do Cabo,BR,2020-07-12 22:31:43,-22.97,-42.03,77.00,61,62,5.82,broken clouds,0,0.00
1,1,Saldanha,ZA,2020-07-12 22:31:43,-33.01,17.94,57.20,82,58,25.28,moderate rain,0,1.65
2,2,Te Anau,NZ,2020-07-12 22:28:57,-45.42,167.72,35.80,85,5,1.43,clear sky,0,0.00
3,3,Jamestown,US,2020-07-12 22:28:41,42.10,-79.24,73.99,73,1,10.29,clear sky,0,0.00
4,4,Upernavik,GL,2020-07-12 22:29:04,72.79,-56.15,41.86,84,97,9.89,overcast clouds,0,0.00

In [8]:
#get the data types.
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Snowfall                 int64
Rainfall               float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_pref = object(input("Would you like it raining? (yes/no)"))
snow_pref = object(input("Would you like it to be snowing? (yes/no)"))

#filter the dataset to find the cities that fit the criteria.
if rain_pref == "no" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Snow"] == 0) & \
                                           (city_data_df["Rain"] == 0)]
if rain_pref == "yes" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                           (city_data_df["Max Temp"] >= min_temp) & \
                                           (city_data_df["Snow"] == 0) & \
                                           (city_data_df["Rain"] > 0)]

preferred_citis_df.head(10)

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 90
Would you like it raining? (yes/no)yes

TypeError: object() takes no arguments

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Snowfall,Rainfall
0,0,Arraial Do Cabo,BR,2020-07-12 22:31:43,-22.97,-42.03,77.00,61,62,5.82,broken clouds,0,0.00
1,1,Saldanha,ZA,2020-07-12 22:31:43,-33.01,17.94,57.20,82,58,25.28,moderate rain,0,1.65
2,2,Te Anau,NZ,2020-07-12 22:28:57,-45.42,167.72,35.80,85,5,1.43,clear sky,0,0.00
3,3,Jamestown,US,2020-07-12 22:28:41,42.10,-79.24,73.99,73,1,10.29,clear sky,0,0.00
4,4,Upernavik,GL,2020-07-12 22:29:04,72.79,-56.15,41.86,84,97,9.89,overcast clouds,0,0.00
5,5,Narsaq,GL,2020-07-12 22:31:38,60.92,-46.05,53.60,54,100,4.70,light rain,0,0.29
6,6,Busselton,AU,2020-07-12 22:30:31,-33.65,115.33,55.00,79,40,14.12,light rain,0,0.22
7,7,Longyearbyen,SJ,2020-07-12 22:31:44,78.22,15.64,46.40,81,75,2.24,broken clouds,0,0.00
8,8,Rikitea,PF,2020-07-12 22:30:09,-23.12,-134.97,71.15,72,0,15.70,clear sky,0,0.00
9,9,Hobart,AU,2020-07-12 22:27:16,-42.88,147.33,39.20,93,75,10.29,broken clouds,0,0.00

In [17]:
preferred_cities_df.count()

City_ID                530
City                   530
Country                526
Date                   530
Lat                    530
Lng                    530
Max Temp               530
Humidity               530
Cloudiness             530
Wind Speed             530
Current Description    530
Snowfall               530
Rainfall               530
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0  Arraial Do Cabo      BR     77.00 -22.97  -42.03
1         Saldanha      ZA     57.20 -33.01   17.94
2          Te Anau      NZ     35.80 -45.42  167.72
3        Jamestown      US     73.99  42.10  -79.24
4        Upernavik      GL     41.86  72.79  -56.15
5           Narsaq      GL     53.60  60.92  -46.05
6        Busselton      AU     55.00 -33.65  115.33
7     Longyearbyen      SJ     46.40  78.22   15.64
8          Rikitea      PF     71.15 -23.12 -134.97
9           Hobart      AU     39.20 -42.88  147.33

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,77.00,-22.97,-42.03,Pousada Porto Praia
1,Saldanha,ZA,57.20,-33.01,17.94,Blue Bay Lodge
2,Te Anau,NZ,35.80,-45.42,167.72,Kingsgate Hotel Te Anau
3,Jamestown,US,73.99,42.10,-79.24,Hampton Inn & Suites Jamestown
4,Upernavik,GL,41.86,72.79,-56.15,Gina's Guesthouse - Upernavik
5,Narsaq,GL,53.60,60.92,-46.05,Hotel Narsaq
6,Busselton,AU,55.00,-33.65,115.33,Observatory Guest House
7,Longyearbyen,SJ,46.40,78.22,15.64,"Radisson Blu Polar Hotel, Spitsbergen"
8,Rikitea,PF,71.15,-23.12,-134.97,Pension Maro'i
9,Hobart,AU,39.20,-42.88,147.33,St Ives Apartments

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
hotel_df.to_csv('WeatherPy_vacation.csv')

In [25]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,77.00,-22.97,-42.03,Pousada Porto Praia
1,Saldanha,ZA,57.20,-33.01,17.94,Blue Bay Lodge
2,Te Anau,NZ,35.80,-45.42,167.72,Kingsgate Hotel Te Anau
3,Jamestown,US,73.99,42.10,-79.24,Hampton Inn & Suites Jamestown
4,Upernavik,GL,41.86,72.79,-56.15,Gina's Guesthouse - Upernavik