In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
weatherpyvacation = "Resources/WeatherPy_vacation.csv"

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
weather_py_df = pd.read_csv("Resources/WeatherPy_vacation.csv")
weather_py_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Saskylakh,RU,68.61,71.92,114.08,NaN
1,1,Darnah,LY,73.87,32.77,22.64,زاوية الرفاعي
2,2,Ushuaia,AR,35.60,-54.80,-68.30,Albatros Hotel
3,3,Pechora,RU,56.25,65.15,57.22,"Гоставя компания ""ВИЗИТ"""
4,4,Busselton,AU,46.00,-33.65,115.33,Observatory Guest House

In [ ]:
city1_df.loc['Portland']
date_range_df = pivot1_df.loc['2019-01-01':'2019-04-28']
date_range_df.tail(15)