In [50]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [51]:
WeatherPy_vacation_df = (r"C:\Users\kevin\Documents\myrepo\World_Weather_Analysis\Resources\WeatherPy_vacation.csv")

In [69]:
# Store the CSV you saved created in part one into a DataFrame.

weatherpy_vacation_df = pd.read_csv(r"C:\Users\kevin\Documents\myrepo\World_Weather_Analysis\Resources\WeatherPy_vacation.csv")
weatherpy_vacation_df.head(500)

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Saskylakh,RU,68.61,71.92,114.08,NaN
1,1,Darnah,LY,73.87,32.77,22.64,زاوية الرفاعي
2,2,Ushuaia,AR,35.60,-54.80,-68.30,Albatros Hotel
3,3,Pechora,RU,56.25,65.15,57.22,"Гоставя компания ""ВИЗИТ"""
4,4,Busselton,AU,46.00,-33.65,115.33,Observatory Guest House
...,...,...,...,...,...,...,...
495,523,Augusto Correa,BR,75.96,-1.02,-46.63,Fazenda Bacuri
496,524,Rio Grande,BR,50.00,-32.03,-52.10,Swan Express Rio Grande
497,525,Neiafu,TO,78.80,-18.65,-173.98,Mystic Sands
498,526,Port Moresby,PG,78.85,-9.44,147.18,Lamana Hotel
499,527,San Vicente,AR,61.81,-26.62,-54.13,Complejo Turístico Farelluk

In [70]:
#get the data types.
weatherpy_vacation_df.dtypes

Unnamed: 0      int64
City           object
Country        object
Max Temp      float64
Lat           float64
Lng           float64
Hotel Name     object
dtype: object

In [71]:
Puerto_Escondido_df = weatherpy_vacation_df.loc[weatherpy_vacation_df["City"]=="Puerto Escondido"]
Puerto_Escondido_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
476,502,Puerto Escondido,MX,83.48,15.85,-97.07,Aldea del Bazar Hotel and Spa

In [72]:
Guerrero_Negro_df = weatherpy_vacation_df.loc[weatherpy_vacation_df["City"]=="Guerrero Negro"]
Guerrero_Negro_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
72,75,Guerrero Negro,MX,87.62,27.98,-114.06,"Casa Laguna, Bed & Breakfast"

In [73]:
Lompoc_df = weatherpy_vacation_df.loc[weatherpy_vacation_df["City"]=="Lompoc"]
Lompoc_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
70,73,Lompoc,US,80.01,34.64,-120.46,Holiday Inn Express Lompoc

In [74]:
Half_Moon_Bay_df = weatherpy_vacation_df.loc[weatherpy_vacation_df["City"]=="Half Moon Bay"]
Half_Moon_Bay_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Hotel Name
20,20,Half Moon Bay,US,88.0,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [82]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyD8yzsbGbeDg20BCXACfgfj8Lz7JzdHQLs")
# Latitude-longitude pairs
Puerto_Escondido = (15.85, -97.07)
Guerrero_Negro = (27.98, -114.06)
Lompoc = (34.64, -120.46)
Half_Moon_Bay = (37.46, -122.43)
fig = gmaps.figure()
fourcities = gmaps.directions_layer(Puerto_Escondido, Guerrero_Negro, waypoints=[Lompoc, Half_Moon_Bay], travel_mode='DRIVING')
fig.add_layer(fourcities)
fig

Figure(layout=FigureLayout(height='420px'))