In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv(r"C:\Users\kevin\Documents\myrepo\World_Weather_Analysis\Weather_data\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Snowfall,Rainfall
0,0,Yellowknife,CA,2020-07-15 22:57:24,62.46,-114.35,64.40,63,75,14.99,broken clouds,0,0.0
1,1,Mpika,ZM,2020-07-15 22:57:24,-11.83,31.45,53.19,45,0,14.67,clear sky,0,0.0
2,2,Marawi,PH,2020-07-15 22:57:24,8.00,124.29,73.99,92,100,4.00,overcast clouds,0,0.0
3,3,Bluff,NZ,2020-07-15 22:57:24,-46.60,168.33,39.00,83,44,3.00,scattered clouds,0,0.0
4,4,Rajapur,IN,2020-07-15 22:57:25,25.38,81.15,87.19,65,11,6.96,few clouds,0,0.0

In [3]:
#get the data types.
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Snowfall                 int64
Rainfall               float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain_pref = str(input("Would you like it to be raining? (yes/no) "))
snow_pref = str(input("What you like it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 90
Would you like it to be raining? (yes/no) yes
What you like it to be snowing? (yes/no) no

In [11]:
#Filter the dataset to find the cities that fit the criteria.
if rain_pref == "no" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] == 0) & \
                                       (city_data_df["Rainfall"] > 0)]
if rain_pref == "no" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] == 0)]
if rain_pref == "yes" and snow_pref == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp) & \
                                       (city_data_df["Snowfall"] > 0) & \
                                       (city_data_df["Rainfall"] > 0)]
preferred_cities_df.count()

City_ID                51
City                   51
Country                51
Date                   51
Lat                    51
Lng                    51
Max Temp               51
Humidity               51
Cloudiness             51
Wind Speed             51
Current Description    51
Snowfall               51
Rainfall               51
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp    Lat     Lng Hotel Name
18  Butaritari      KI     82.58   3.07  172.79
22  Chokurdakh      RU     36.84  70.63  147.92
32      Kavali      IN     78.78  14.92   79.98
35   Busselton      AU     60.01 -33.65  115.33
40  Hambantota      LK     81.45   6.12   81.12

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
18,Butaritari,KI,82.58,3.07,172.79,Isles Sunset Lodge
22,Chokurdakh,RU,36.84,70.63,147.92,
32,Kavali,IN,78.78,14.92,79.98,Lic B.M Quearter's
35,Busselton,AU,60.01,-33.65,115.33,Observatory Guest House
40,Hambantota,LK,81.45,6.12,81.12,Bungalow 63
67,Torbay,CA,50.00,47.67,-52.73,Gallows Cove
79,Vestmannaeyjar,IS,53.26,63.44,-20.27,Glamping & Camping
99,Bubaque,GW,78.40,11.28,-15.83,Casa Dora
106,Am Timan,TD,76.23,11.03,20.28,
113,Tezpur,IN,76.53,26.63,92.80,Hotel Kanyapur
120,Kavaratti,IN,82.74,10.57,72.64,Bismillah Hotel And Lodging
161,Victoria,HK,86.00,22.29,114.16,Mini Hotel Central
164,Dingle,PH,78.19,11.00,122.67,Camp Pasica
177,Paoua,CF,68.63,7.24,16.44,Quartier Paoua Elien
201,Montague,US,78.01,42.54,-72.54,Two Rivers Bed and Breakfast
227,Russell,US,75.20,32.35,-85.20,Macs
231,Burgeo,CA,53.62,47.62,-57.62,Gillett's Motel
242,Sucua,EC,67.93,-2.47,-78.17,Hotel Barza
249,Bhind,IN,89.38,26.56,78.79,Hotel Kanha Palace and Family Restaurant
251,Tutoia,BR,79.36,-2.76,-42.27,Pousada Guará's
260,Saint-Leu,RE,68.00,-21.15,55.28,La Caz Oceane
262,Ciudad Bolivar,VE,82.78,8.12,-63.55,Hotel Edi
265,Hofn,IS,51.42,64.25,-15.21,Hótel Höfn
267,Lokosovo,RU,73.69,61.13,74.82,
285,Macenta,GN,67.89,8.54,-9.47,Hôtel Safrik
291,Kokopo,PG,81.45,-4.35,152.26,Kokopo Beach Bungalow Resort
330,Teupasenti,HN,79.32,14.22,-86.70,House CRM
331,Port Hawkesbury,CA,54.00,45.62,-61.35,Hearthstone Inn Port Hawkesbury
340,Wewak,PG,80.82,-3.55,143.63,In Wewak Boutique Hotel
343,Were Ilu,ET,55.80,10.60,39.43,
376,Kandrian,PG,82.29,-6.22,149.55,Kandrian Station
377,Margate,GB,61.00,51.38,1.39,Premier Inn Margate hotel
387,Narayanpet,IN,72.46,16.73,77.50,SRI VENKATA SAI HARDWERE AND CEMENT
401,Mahibadhoo,MV,83.95,3.78,72.97,Omadhoo Inn
403,Mersing,MY,75.20,2.43,103.84,Timotel Hotel
407,Filingue,NE,83.62,14.35,3.32,
422,Andahuaylas,PE,53.51,-13.66,-73.39,La Mansion Casa Hotel
442,Nedjo,ET,58.03,9.50,35.50,Yerosan Hotel
444,Warri,NG,74.55,5.52,5.75,BON Hotel Delta
450,Umri,IN,88.61,26.51,78.94,shri kheda pati bajrang bali ji mandir umri
453,Bugiri,UG,68.20,0.57,33.74,Gilgal Guest House
457,Shenjiamen,CN,72.84,29.96,122.30,Jinjiang Inn Zhoushan Putuo Shenjiamen
461,Netrakona,BD,78.76,24.88,90.72,kurpar gas office
467,Kolobrzeg,PL,60.01,54.18,15.58,Doris SPA
471,Port Blair,IN,80.92,11.67,92.75,Fortune Resort Bay Island
476,Daru,PG,77.72,-9.08,143.21,New century hotel
487,Tawang,IN,58.59,27.58,91.87,Hotel Mount View
506,Gizo,SB,82.69,-8.10,156.84,Imagination Island
513,Bilibino,RU,51.22,68.05,166.44,Gostinitsa Severyanka
523,Lac Du Bonnet,CA,75.00,50.25,-96.06,Casey's Inn Motor Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_info' is not defined

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
hotel_df.to_csv('WeatherPy_vacation.csv')

In [ ]:
hotel_df.head()